
.container {
    /* initiating the grid layout*/
    display: grid;
    /* set the size & number of columns; 3 with a responsive middle column*/
    grid-template-columns: 100px auto 100px;
    /* set the size & number of row*/
    grid-template-rows: 50px 50px;
    /* spacing between the grid cells*/
    grid-gap: 3px;
}
