.container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 300px 100px
}

.header{
    /* grid column starts at the 1st column line, ends at 3rd column line */
    /* when you have 2 columns, there are 3 column lines: start,middle,end */
    /* grid-column-start: 1;
    grid-column-end: 3;
    use -1 if you dont know how many columns an item spans
    */
    grid-column: 2 / -1 
}

.menu{
    grid-row: 1 / 3;
}

/* content row begins at line 2; in */
.content{
    grid-column: 2 / -1;
}

.footer{
    grid-column: 1 / -1;
}